header{
    padding: 20px;
    background-color: #ededed;
    nav{
        ul{
            li{
                margin-left: 15px;
                a{
                    color: #000;
                    font-size: 20px;
                    font-weight: 500;
                    text-decoration: none;
                }
            }
        }
    }
}